body{
    background-color: #1A374D;
    color: white;
}

#principal{
    
    color: #B1D0E0;
}

#salida-texto, #entrada-texto{    
    height: 25rem; 
    margin-bottom: 10px;   
}

#entrada-texto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#salida-texto{
    background-color: #B1D0E0;
    border-radius: 5px;
}

#txt-entrada{
    height: 100%;
    background: rgba(255, 255,255, 0.1);
    padding: 1rem;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    border-bottom: none !important;    
}

#txt-salida{
    height: 100%;    
    padding: 1rem;
    text-align: center;
    color: #1A374D;
    font-size: 1.1rem;
    font-weight: 600;
    
}

