body{
    background-color: #B1D0E0;
    color: white;
}

#principal{
    border: 1px solid white;
    background: #1A374D;
    color: #B1D0E0;
}

#salida-texto, #entrada-texto{    
    height: 25rem;    
}

#txt-entrada{
    height: 100%;
    background-color: white;
    padding: 1rem;
    color: #1A374D;
    font-weight: 600;
    border-radius: 5px;
}

#txt-salida{
    height: 100%;
    background-color: #B1D0E0;
    padding: 1rem;
    text-align: center;
    color: #1A374D;
    font-size: 1.1rem;
    font-weight: 600;
}